@media (min-width: 319px) and (max-width: 575.98px) {

    /* .left_aside_root, */
    .right_aside_root {
        display: none !important;
    }

    .aside.left_aside_root {
        display: none;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999;
    }

    .aside.left_aside_root .logo_area,
    .aside.left_aside_root .service_info_left_menu {
        display: none;
    }

    .main_content {
        padding: 0;
        width: 100%;
    }

    /* Header Section || Start */
    #header_top {
        height: 520px;
        position: relative;
        overflow: hidden;
        min-height: unset;
        padding: 5rem 1.5rem 3rem;
    }

    .header_top_title {
        font-size: 15px;
    }

    .animate_text_type {
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        font-weight: 600;
    }

    #header_top .typed-text_block {
        display: block;
    }

    .briefing_div {
        display: unset;
    }

    .border_one1_side {
        border: none;
    }

    .padding_40 {
        padding: 0 25px;
    }

    .briefing_div input:focus,
    .briefing_div button,
    .briefing_div input {
        width: 100%;
        text-align: center;
        font-size: 12px;
        letter-spacing: 1px;
        height: 40px;
        padding: 10px;
    }

    .briefing_div_pt {
        padding-top: 0rem;
    }

    #header_top .special_text_box h2 {
        font-size: 3rem;
        letter-spacing: 0px;
        /* transform: scaleY(1.25); */
        margin-bottom: 20px;
        line-height: 2rem;
        text-shadow: 2px 5px 10px rgb(0 0 0 / 60%);
        color: #ffffff;
    }

    #header_top .special_text_box h3 {
        font-size: 2rem;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        text-shadow: 2px 5px 10px rgb(0 0 0 / 46%);
    }

    #header_top h5 {
        padding-top: 1rem;
        font-size: 1.5rem;
        color: #fff;
        text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.46);
    }

    #header_top .special_text_box ul {
        display: none;
        list-style: none;
        justify-content: center;
        width: 100%;
        color: #fff;
        padding: 0;
    }

    #header_top .special_text_box ul li {
        position: relative;
        padding: 0 15px;
        font-size: 1rem;
        text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.46);
    }


    .briefing_div {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .briefing_div input:focus-visible,
    .briefing_div input {
        outline: none;
        color: #fff;
        padding: 10px 20px;
        border: 1px solid #ffffff4a;
        box-shadow: none;
        background: #4457652d;
        width: 100%;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 300;
        height: 50px;
        border-radius: 0;
    }

    .briefing_div_pt {
        color: #fff;
        letter-spacing: 1px;
        font-size: 12px;
    }

    .briefing_div input::placeholder {
        color: #f8f8f8;
        font-weight: 300;
    }

    .briefing_div button {
        /* padding: 10px; */
        border: 1px solid #88a0b4;
        box-shadow: none;
        background: #213d54;
        width: 100%;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 300;
        height: 50px;
        color: #fff;
        border-radius: 0;
    }

    #working_process {
        padding: .5rem 0 2rem;
    }

    #working_process .row {
        margin: 0;
    }

    #working_process .row .col-sm-12 {
        width: 50%;
        margin: 0;
        padding: 0;
    }

    #working_process .row .col-sm-12 .content_box {
        border-radius: 0;
        height: 160px;
        border: 1px solid #e1e1e1;
    }

    #working_process .row .content_box img {
        width: 100px;
        filter: grayscale(1);
        transition: .5s ease-in;
    }

    #working_process .row .content_box h4 {
        font-size: 13px;
    }

    /* Header Section || End */

    /* Industry Section || Start */
    .industry_26_css {
        padding-right: 0;
        padding-left: 0;
    }

    .industry_26_css_bottom {
        padding-left: 15px;
    }

    .industry_26_css_top {
        padding-left: 15px;
    }

    /* Industry Section || End */



    /* Service Section || Start */
    .s_card .rotate_box_main,
    .s_card .s_card_content {
        width: 100%;
    }

    .rotate_box div {
        transform: unset;
        min-width: 100%;
        padding: 25px 32px;
        text-align: left;
    }

    .s_card_content {
        padding: 50px 40px;
    }

    /* Service Section || End */
}

@media (min-width: 576px) and (max-width: 767.98px) {

    .left_aside_root,
    .right_aside_root {
        display: none !important;
    }

    .main_content {
        padding: 0;
        width: 100%;
    }

    /* Header Section || Start */
    #header_top {
        position: relative;
        overflow: hidden;
        min-height: unset;
        background-color: #5A80A0;
        padding: 5rem 1.5rem 3rem;
    }

    .header_top_title {
        font-size: 15px;
    }

    .animate_text_type {
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        font-weight: 600;
    }

    #header_top .typed-text_block {
        display: block;
    }

    .briefing_div {
        display: unset;
    }

    .border_one1_side {
        border: none;
    }

    .padding_40 {
        padding: 0 25px;
    }

    .briefing_div input:focus,
    .briefing_div button,
    .briefing_div input {
        width: 100%;
        text-align: center;
        font-size: 12px;
        letter-spacing: 1px;
        height: 40px;
        padding: 10px;
    }

    .briefing_div_pt {
        padding-top: 0rem;
    }

    #header_top .special_text_box h2 {
        font-size: 3.5rem;
        letter-spacing: 0px;
        /* transform: scaleY(1.25); */
        margin-bottom: 20px;
        line-height: 2rem;
        text-shadow: 2px 5px 10px rgb(0 0 0 / 60%);
        color: #ffffff;
    }

    /* Header Section || End */
}