

@media (max-width: 575.98px) {

}

/* md applies to small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    
}














.aside {
    min-height: 100vh;
    width: 17.5%;
    background-color: #5A80A0;
}

.aside .logo_area{
    padding: 25px;
    width: 100%;
    text-align: center;
}
.aside .logo_area img{
    width: 50%;
}

.aside nav.active {
    width: 17.5%;
}

.left_aside,
.right_aside {
    position: fixed;
    top: 10vh;
    width: 17.5%;
    min-height: 50vh;
}

.main_content {
    min-height: 100vh;
    width: 65%;
}