@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.index_item,
.accordion-button,
p,
li {
    letter-spacing: .5px;
    font-size: 14px;
}

.di_container,
.di_container-fluid,
.di_container-lg,
.di_container-md,
.di_container-sm,
.di_container-xl,
.di_container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {

    .di_container,
    .di_container-sm {
        max-width: 540px
    }
}

@media (min-width:768px) {

    .di_container,
    .di_container-md,
    .di_container-sm {
        max-width: 720px
    }
}

@media (min-width:992px) {

    .di_container,
    .di_container-lg,
    .di_container-md,
    .di_container-sm {
        max-width: 960px
    }
}

@media (min-width:1200px) {

    .di_container,
    .di_container-lg,
    .di_container-md,
    .di_container-sm,
    .di_container-xl {
        max-width: 1140px
    }
}

@media (max-width:1400px) {

    .di_container,
    .di_container-lg,
    .di_container-md,
    .di_container-sm,
    .di_container-xl,
    .di_container-xxl {
        max-width: 1300px
    }

    .aside {
        /* width: 250px; */
        min-height: 100vh;
    }

    .aside.right_aside_root {
        display: none;
    }

    .main_content {
        /* width: 1050px; */
        min-height: 100vh;
        padding: 0 40px;
    }
}

@media (min-width:1600px) {

    .di_container,
    .di_container-lg,
    .di_container-md,
    .di_container-sm,
    .di_container-xl,
    .di_container-xxl {
        max-width: 1740px;
        margin: auto;
    }

    .aside {
        /* width: 250px; */
        min-height: 100vh;
    }

    .main_content {
        /* width: 1240px; */
        min-height: 100vh;
        padding: 40px;
    }
}


.border_one1 {
    border: 1px solid #fdba13;
}

/* Main Style */
a {
    text-decoration: none;
}

/* #right_section .three_main .content{
    margin-top: 5rem;
    padding: 1rem;
}

#right_section .three_main ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
*/
.left_aside{
    padding: 35px;
}

.left_aside_root,
.right_aside_root {
    position: relative;
    padding: 0;
    margin: 0;
}

.left_aside,
.right_aside {
    position: fixed;
    top: 10vh;
    width: 250px;
    /* background-color: green; */
    min-height: 50vh;
}

/* .left_aside {
    background-color: red;
} */


.right_aside .index_item {
    margin: 10px 0;
    cursor: pointer;
}

.right_aside .index_item:hover,
.accordion-button.collapsed:hover {
    color: #b3b3b3;
}

.accordion-body {
    border-left: 2px solid #ddd;
    padding: 5px 0px;
    background: #dddddd0d;
}

.accordion-body ul {
    font-size: .8rem;
    padding-left: 0.75rem;
    /* list-style: none; */
    list-style-type: square;
    /* padding: 0;
    margin: 0; */
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body ul li {
    /* border-left: 1px solid #ddd; */
    margin: 10px;
    /* padding-left: 10px; */
}

.accordion-button::after {
    scale: 60%;
}

.right_aside .accordion-button,
.right_aside .accordion-item {
    margin: 10px 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

.right_aside .accordion-button:not(.collapsed) {
    box-shadow: none;
    color: #000;
}

/* Main Style */

/* Main Section || Start */
.main_content{
    background-color: #f5f5f5c2;
}
/* Main Section || End */

.service_info:nth-child(odd){
    /* background-color: #d3d3d3; */
    padding: 100px 0;
}
.service_info:nth-child(even){
    /* background-color: #ebebeb; */
    padding: 100px 0;
}
.service_info .single_part{
    margin: 10rem 0;
}



/* Line Breaker CSS || Start */
.line_breaker{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    justify-content: center;
    align-items: center;
}
.line_breaker .line{
    min-height: 1px;
    width: 100%;
    background-color: #585a5f;
}

.line_breaker .icon_box{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    border: 1px solid #585a5f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.line_breaker .icon_box svg{
    margin: 3px;
    color: #585a5f;
}

/* Line Breaker CSS || End */


/* Service ACC CSS || Start */
.service_info_left{
    opacity: 0;
}
.opacity_100{
    transition: 2s ease;
    opacity:100%;
}
.service_info_left .accordion,
.service_info_left .accordion-button{
    background-color: #fdba13;
}

.service_info_left .accordion-button{
    padding: 10px;
}
.service_info_left .accordion-button:not(.collapsed){
    color: #000;
}
.service_info_left .accordion-body{
    /* border-left: 1px solid #ddd; */
    border: none;
    padding: 0;
    background-color: #fff

}
.service_info_left .accordion-body ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.service_info_left .accordion-body ul li{
    /* background-color: #000; */
    color: #ddd;
    border-left: 8px solid transparent;
    padding: 5px;
    margin: 0;
    position: relative;
}
.service_info_left .accordion-body ul li a{
    color: #000;
}
.service_info_left .accordion-body ul li.active{
    border: 1px solid #fdba13;
    border-left: 8px solid #fdba13;
    /* background-color: #f7f7f7; */
}

.service_info_left .accordion-body ul li.active::after{
    content: "";
    width: 21px;
    background-color: #fdba13;
    position: absolute;
    top: 50%;
    height: 1px;
    right: -21px;
}
.s_card{
    position: relative;
    padding-left: 50px;
    margin-left: 20px;
    padding-right: 120px;
    padding-bottom: 4rem;
    padding-top: 3rem;
    text-align: justify;
}
.s_card h4{
    margin-bottom: 2rem;
}
.s_card_absolute{
    height: 200px;
    top: 35%;
    position: absolute;
    right: -75px;
    width: 150px;
    border: 1px solid #fdba13;
    padding: 10px;
    background: #fff;
}

.s_card_absolute_child{
    width: 100%;
    position: relative;
}

.s_card_absolute::before{
    content: '';
    position: absolute;
    top: 0;
    left: 65px;
    background: #fdba13;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    height: 10px;
    width: 20px;
    border-radius: 0 0 150px 150px;
}
.s_card_absolute::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 65px;
    background: #fdba13;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    height: 10px;
    width: 20px;
    border-radius: 150px 150px 0 0;
}

.s_card_absolute ul{
    margin: 0;
    padding: 1rem;
    list-style:none;
}
.s_card_absolute ul li{
    font-size: 12px;
}

.s_card_absolute h5{
    font-size: 15px;
    font-weight: 400;
}

.s_card_absolute_2{
    position: absolute;
    bottom: -40px;
    right: -75px;
}
.s_card_absolute_2 a{
    min-width: 450px;
    padding: 30px 0;
    border: 1px solid #fdba13;
    margin-left: 15px;
    /* background-color: #fdba13; */
    background-color: #fddb3a;
}
.s_card_absolute_2 a:active,
.s_card_absolute_2 a:hover,
.s_card_absolute_2 a:focus{
    background-color: #fdba13 !important;
    border: 1px solid #fdba13 !important;
}
.s_card_absolute_2 svg{
    font-weight: 300;
}
/* Service ACC CSS || End */
/* Line Breaker CSS || End */






























/* ================= Navbar Design || Start =================== */

:root {
    --bg-primary: #41444b;
    --bg-secondary: #52575d;
    --bg-active: #fddb3a;
    --cl-text: #f6f4e6;
}


nav {
    position: fixed;
    width: 60px;
    height: 100%;
    background: #fff;
    transition: .5s;
    overflow: hidden;
}

nav.active {
    width: 250px;
}

/* nav:hover {
    width: 300px;
} */

nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
}

nav ul li {
    list-style: none;
    width: 100%;
    position: relative;

}

nav ul li a:hover {
    color: var(--bg-primary);
}

nav ul li:hover a::before {
    background-color: #fddb3a;
    width: 100%;
}

nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #41444b;
    transition: .2s;
}

nav ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: .2s;
}

nav ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

nav ul li a .title {
    position: relative;
    font-size: .85em;
}

nav ul li a .icon * {
    font-size: 1.1em;
}

nav ul li a.toggle {
    border-bottom: 3px solid var(--bg-primary);
}

.toggle {
    cursor: pointer;
}

header {
    display: none;
}

@media (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        background: #41444b;
        color: #ddd;
    }

    header a {
        color: #41444b;
    }

    nav {
        left: -60px;
    }

    nav.active {
        left: 0;
        width: 100%;
    }

    nav ul li a.toggle {
        display: none;
    }
}

/* ================= Navbar Design || End =================== */