.icons {
  display: inline-block;
  height: 100%;
  max-width: 800px;
  position: relative;
  vertical-align: top;
}

.icon-container {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: floating;
  animation-name: floating;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  background-color: #f8f8f8;
  background-position: center;
  background-repeat: no-repeat;
    border-radius: 10px;
  box-shadow: 0 5px 40px 0 rgba(23, 28, 33, 0.13),
    0 20px 13px 0 rgba(23, 28, 33, 0.05);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  -webkit-transition: margin 1s cubic-bezier(0.2, 0.6, 0.3, 1), opacity 2s ease;
  transition: margin 1s cubic-bezier(0.2, 0.6, 0.3, 1), opacity 2s ease;
  animation-duration: 4s;
  height: 144px;
  margin-left: 76px;
  margin-top: -25px;
  position: absolute;
  width: 144px;
  color: #0000009e;
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(8px) ;
    transform: translateY(8px) ;
  }

  100% {
    -webkit-transform: translateY(-8px) ;
    transform: translateY(-8px) ;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.icons-1 {
  margin-top: 0;
}

.icons-2 {
  margin-top: 50px;
}
.icons-3 {
  margin-top: 100px;
}

.icons-4 {
  margin-top: 150px;
}

.icons-5 {
  margin-top: 200px;
}

.icons-6 {
  margin-top: 250px;
}
.icons-7 {
  margin-top: 300px;
}

.icons-8 {
  margin-top: 350px;
}


.icons_area{
  min-height: 400px;
}
.icons_area .icons{
  width: 100%;
  display: flex;
  justify-content: center;
}

.icons_area .icons .icons-1,
.icons_area .icons .icons-3,
.icons_area .icons .icons-5,
.icons_area .icons .icons-7{
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  margin-left: -30%;
  height: 35px;
}
.icons_area .icons .icons-2,
.icons_area .icons .icons-4,
.icons_area .icons .icons-6,
.icons_area .icons .icons-8{
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  margin-left: 30%;
  height: 35px;
}