@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.cdnfonts.com/css/broadway');

body {
    font-family: 'Roboto', sans-serif;
}

/* 

|| used color

blue -> #3b6ef0;
font-family: 'Broadway', sans-serif;
*/

.index_item,
.accordion-button,
p,
li {
    letter-spacing: .5px;
    font-size: 14px;
}

.di_container,
.di_container-fluid,
.di_container-lg,
.di_container-md,
.di_container-sm,
.di_container-xl,
.di_container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto
}

.padding_l1 {
    padding-left: 1rem;
}

@media (min-width:576px) {

    .di_container,
    .di_container-sm {
        max-width: 540px
    }
}

@media (min-width:768px) {

    .di_container,
    .di_container-md,
    .di_container-sm {
        max-width: 720px
    }
}

@media (min-width:992px) {

    .di_container,
    .di_container-lg,
    .di_container-md,
    .di_container-sm {
        max-width: 960px
    }
}

@media (min-width:1200px) {

    .di_container,
    .di_container-lg,
    .di_container-md,
    .di_container-sm,
    .di_container-xl {
        max-width: 1140px
    }
}


@media (min-width:1400px) {

    .di_container,
    .di_container-lg,
    .di_container-md,
    .di_container-sm,
    .di_container-xl,
    .di_container-xxl {
        max-width: 1300px
    }

    .aside {
        /* width: 250px; */
        min-height: 100vh;
    }

    /* .main_content {
        min-height: 100vh;
        padding: 0 40px;
    } */
}

@media (min-width:1600px) {

    .di_container,
    .di_container-lg,
    .di_container-md,
    .di_container-sm,
    .di_container-xl,
    .di_container-xxl {
        max-width: 1740px;
        margin: auto;
    }

    .aside {
        /* width: 250px; */
        min-height: 100vh;
    }

    .main_content {
        /* width: 1240px; */
        min-height: 100vh;
        padding: 30px;
    }
}


.border_one1 {
    border: 1px solid #fdba13;
}

/* .border_one1_side {
    border-left: 1px solid #fdba13;
    border-right: 1px solid #fdba13;
} */

.border_one1_side {
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
}

/* Main Style */
a {
    text-decoration: none;
}

/* #right_section .three_main .content{
    margin-top: 5rem;
    padding: 1rem;
}

#right_section .three_main ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
*/


/* .left_aside {
    background-color: red;
} */

.right_aside{
    display: flex;
    align-items: center;
}

.right_aside .index_item {
    margin: 10px 0;
    cursor: pointer;
    color: #fff;
}

.right_aside .index_item:hover,
.accordion-button.collapsed:hover {
    color: #b3b3b3;
}

.accordion-body {
    border-left: 2px solid #ddd;
    padding: 5px 0px;
    background: #dddddd0d;
}

.accordion-body ul {
    font-size: .8rem;
    padding-left: 0.75rem;
    /* list-style: none; */
    list-style-type: square;
    /* padding: 0;
    margin: 0; */
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body ul li {
    /* border-left: 1px solid #ddd; */
    margin: 10px;
    /* padding-left: 10px; */
}

.accordion-button::after {
    scale: 60%;
    filter: invert(1);
}

.right_aside .accordion-button,
.right_aside .accordion-item {
    margin: 10px 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #fff;
}

.right_aside .accordion-button:not(.collapsed) {
    box-shadow: none;
    color: #fff;
}

.service_right_box{
    width: 100%;
    margin-top: 2rem;
}
.service_right_box h5{
    text-align: center;
    color: #fff;
    letter-spacing: .75px;
    font-size: 14px;
    font-weight: 300;
}

.service_right_box .search_grp{
    display: flex;
    align-items: center;
    margin: 35px 0;
}
.service_right_box .search_grp svg{
    color: #f8f8f8c0;
    margin-right: -20px;
}

.service_right_box .search_box{
    width: 100%;
    background-color: transparent;
    color: #fff;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #dddddd45;
    padding: 5px 30px;
    letter-spacing: 1px;
    font-size: 12px;
}
.service_right_box .search_box::placeholder{
    color: #ffffff94;
}
.service_right_box .search_box:focus{
    box-shadow: none;
    outline: none;
}

.service_right_box a{text-decoration: none;}
.service_right_box ul{
    height: 300px;
    overflow: scroll;
    padding: 0;
    list-style: none;
    padding: 0 10px;
    margin-top: 5px;
}

/* .service_right_box ul::-webkit-scrollbar */

/* width */
.service_right_box ul::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  .service_right_box ul::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .service_right_box ul::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  .service_right_box ul::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


/* .service_right_box ul::-webkit-scrollbar */




.service_right_box ul li{
    margin: 10px 0;
}
.service_right_box ul li a{
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}
.service_right_box ul li:hover a{
    color: #fdba13;
}

.service_right_box ul li a{
    display: flex;
    flex-wrap: nowrap;
}
.service_right_box ul li a svg{
    margin-top: 3px;
}


/* Main Style */

/* Main Section || Start */
.main_content {
    /* background-color: #5a80a0; */
    background-color: #213d54;
}

.sct_content {
    /* overflow: hidden; */
    background-color: #fff;
    /* border-radius: 20px; */
    padding-bottom: 2rem;
}

/* Main Section || End */
.f_poppin {
    font-family: 'Poppins', sans-serif;
}

.service_info:nth-child(even) {
    /* background-color: #ebebeb; */
    padding: 100px 0;
}

.service_info .single_part {
    margin: 10rem 0;
}



/* Line Breaker CSS || Start */
.line_breaker {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.line_breaker .line {
    min-height: 1px;
    width: 100%;
    background-color: #cecece;
}

.line_breaker .icon_box {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    border: 1px solid #cecece;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.line_breaker .icon_box svg {
    margin: 3px;
    color: #cecece;
}

/* Line Breaker CSS || End */


/* Service ACC CSS || Start */
.service_info_left {
    opacity: 0;
}

.opacity_100 {
    /* transition: 2s ease; */
    opacity: 100%;
}

.opacity_0 {
    transition: .5s ease;
    opacity: 0%;
}

/* .service_info_left .accordion,
.service_info_left .accordion-button {
    background-color: #fdba13;
} */

.service_info_left .accordion-button {
    padding: 10px;
}

.service_info_left_menu {
    padding: 0;
    margin-top: 2rem;
    width: 70%;
    float: right;
    margin-right: 15%;
}

.service_info_left_menu .accordion-button {
    padding: 6px 20px;
    background-color: #30455473;
    color: #fff;
}


.service_info_left_menu .accordion-button:not(.collapsed) {
    border-bottom: 1px solid #fff;
    color: #fff;
}

.service_info_left_menu .accordion-button:not(.collapsed):after {
    position: absolute;
    bottom: -0.75rem;
    left: 0;
    right: 0;
    content: "";
    height: 3px;
    border-radius: 5px 5px 0 0;
    z-index: 1;
    background: linear-gradient(70deg, var(--cp-color-blue), var(--cp-color-yellow), var(--cp-color-purple), var(--cp-color-green));
}

.service_info_left .accordion-button:not(.collapsed) {
    color: #f0f0f0;
}

.service_info_left_menu .accordion-item {
    border: none;
    background-color: transparent;
}

.service_info_left_menu .accordion-body {
    overflow: hidden;
    /* background-color: #1a3246; */
    border-left: 0;
    /* border-bottom: 1px solid #fff; */
    padding: 0;
}

.service_info_left .accordion-body {
    /* border-left: 1px solid #ddd; */
    color: #000;
    border: none;
    padding: 0;
}

.service_info_left_menu .accordion-body ul,
.service_info_left .accordion-body ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.service_info_left .accordion-body ul li {
    /* background-color: #000; */
    border: 0;
    padding: 5px;
    margin: 0;
    position: relative;
}


.service_info_left_menu .accordion-body ul li {
    padding: 10px 10px;
    cursor: pointer;
    /* background-color: #1b354a9c; */
    margin: 1px 0;
    border-bottom: transparent;
    border-top: transparent;
}

.service_info_left_menu .accordion-body ul li.active {
    border-bottom: 1px solid #dddddd1f;
    border-top: 1px solid #dddddd1f;
}

/* .service_info_left_menu .accordion-body ul li:hover,
.service_info_left_menu .accordion-body ul li.active{
    background-color: #2a4b66 !important;
} */
.service_info_left_menu .accordion-body ul li a {
    color: #fff !important;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 10px;
}

.service_info_left_menu .accordion-body ul li.active a,
.service_info_left_menu .accordion-body ul li:hover a {
    color: #fff;
}

.service_info_left_menu .accordion-body ul li:hover a svg,
.service_info_left_menu .accordion-body ul li.active a svg {
    color: #fdba13;
}

.service_info_left_menu .accordion-body ul li a svg {
    margin-right: 10px;
    color: #838383;
}


.service_info_left .accordion-body ul li a {
    color: #000;
}



.service_info_left .accordion-body ul li.active::after {
    content: "";
    width: 21px;
    background-color: #fdba13;
    position: absolute;
    top: 50%;
    height: 1px;
    right: -21px;

}

.bg_theme_1 {
    /* background: #5a80a0; */
    background: #9bc4e7;
}

.s_card {
    position: relative;
    /* margin-left: 20px; */
    text-align: justify;
    /* margin: 10rem 0; */
}

.s_card h4 {
    margin: 1rem 0;
}

.s_card_content {
    padding: 150px 50px;
}

.s_card_absolute {
    height: 200px;
    top: 35%;
    position: absolute;
    right: -75px;
    width: 150px;
    border: 1px solid #fdba13;
    padding: 10px;
    background: #fff;
}

.s_card_absolute_child {
    width: 100%;
    position: relative;
}

.s_card_absolute::before {
    content: '';
    position: absolute;
    top: 0;
    left: 65px;
    background: #fdba13;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    height: 10px;
    width: 20px;
    border-radius: 0 0 150px 150px;
}

.s_card_absolute::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 65px;
    background: #fdba13;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    height: 10px;
    width: 20px;
    border-radius: 150px 150px 0 0;
}

.s_card_absolute ul {
    margin: 0;
    padding: 1rem;
    list-style: none;
}

.s_card_absolute ul li {
    font-size: 12px;
}

.s_card_absolute h5 {
    font-size: 15px;
    font-weight: 400;
}

.s_card_absolute_2 {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

/* ============ service_card_section =============== */
.service_card_section {
    background-color: #9bc4e7 !important;
}

.service_card_section_2 {
    background-color: #9bc4e787 !important;
}

.service_card_section .s_card_absolute_2 a,
.service_card_section .rotate_box_main {
    background-color: transparent !important;
    border-right: 1px solid #a9b4be;
    /* background-color: #c2d0dc !important; */
}

.service_card_section_2 .s_card_absolute_2 a,
.service_card_section_2 .rotate_box_main {
    background-color: transparent !important;
    border-right: 1px solid #a9b4be;
    /* background-color: #9bc4e7 !important; */
}

.s_card .rotate_box_main {
    width: 15%;
    margin: 2%;
    margin-right: 0;
    border: 1px solid #4b4b4b;
    border-radius: 15px;
}

.s_card .s_card_content {
    width: 83%;
}

/* ============ service_card_section =============== */
/* .s_card_absolute_2 a {
    padding: 15px 35px 20px;
    border: 1px solid #fdba13;
    margin-left: 15px;
    background-color: #fddb3a;
} */

.s_card_absolute_2 a {
    padding: 15px 35px 20px;
    border: none;
    margin-left: 15px;
    background-color: #fff;
}

.s_card_absolute_2 a:hover {
    padding: 15px 35px 20px;
    border: none;
    margin-left: 15px;
    background-color: #fddb3a;
}



.s_card_absolute_2 span.text_1 {
    color: #000000bb;
}

.s_card_absolute_2 span.text_2 {
    display: block;
    font-size: 18px;
}

.s_card_absolute_2 a:active,
.s_card_absolute_2 a:hover,
.s_card_absolute_2 a:focus {
    background-color: #fdba13 !important;
    border: none;
}

.s_card_absolute_2 svg {
    font-weight: 300;
}

.s_card .text_600,
.s_card blockquote {
    font-weight: 600;
}

/* Service ACC CSS || End */
/* Line Breaker CSS || End */



/* TypeWriter || Start */
span.typed-text {
    font-weight: 900;
    color: #fff;
}

span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.padding_40 {
    padding: 0 40px;
}

span.cursor.typing {
    animation: none;
}

.animate_text_type {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.tndustries_part .invert_color{
    filter: grayscale(1);
    transition: .5s ease-in;
}
.tndustries_part:hover .invert_color{
    filter: grayscale(0);
    transition: .5s ease-in;
}



@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}

.briefing_div {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.briefing_div input:focus-visible,
.briefing_div input {
    outline: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #ffffff4a;
    border-right: 0;
    box-shadow: none;
    background: #4457652d;
    width: 25%;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300;
    height: 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.briefing_div_pt{
    color: #fff;
    letter-spacing: 1px;
    font-size: 12px;
}

.briefing_div input::placeholder {
    color: #f8f8f8;
    font-weight: 300;
}

.briefing_div button {
    /* padding: 10px; */
    border: 1px solid #88a0b4;
    border-left: 0;
    box-shadow: none;
    background: #213d54;
    width: 25%;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300;
    height: 50px;
    color: #fff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* TypeWriter || End */

.btn_style_one {
    background-color: #41444b44;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 400;
    border-radius: 0;
    border: none;
}

.btn_style_one:hover {
    color: #fff;
    background-color: #41444b60;
    border: none;
    box-shadow: none;
    outline: none;
}

#industry_area .industry_area_img img {
    width: 80px;
    cursor: pointer;
    display: block;
    border: 1px solid #ddd;
    background: transparent;
    padding: 20px;
    border-radius: 50%;
    margin: 20px 0;
}

#industry_area .industry_area_img img:hover,
#industry_area .industry_area_img img.active {
    border: 1px solid #ddd;
    background: #e9e9e9;
}

/* 
#header_top{
    background-image: url('../img/bg.png') !important;
    background-position-x: right;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: right 20px top 330px;
} */

#header_top {
    /* background-image: url('../img/top_bg.png') !important; */
    background-image: url('../img/top_header_dark2.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* #header_top .special_text_box{
    text-align: center;
} */

#header_top .special_text {
    font-family: 'Rammetto One', cursive;
    /* font-family: 'Ranchers', cursive; */
}


#header_top .special_text_box h2{
    font-size: 5.5rem;
    letter-spacing: 0px;
    /* transform: scaleY(1.25); */
    margin-bottom: 20px;
    line-height: 2rem;
    text-shadow: 2px 5px 10px rgb(0 0 0 / 60%);
    color: #ffffff;
}

#header_top .special_text_box h3{
    font-size: 3.5rem;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    line-height: 7rem;
    text-shadow: 2px 5px 10px rgb(0 0 0 / 46%);
}
#header_top h5{
    padding-top: 2rem;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #fff;
    text-shadow: 2px 1px 5px rgba(0,0,0,0.46);
}

#header_top .special_text_box ul {
    display: inline-flex;
    list-style: none;
    justify-content: center;
    width: 100%;
    color: #fff;
}

#header_top .special_text_box ul li {
    position: relative;
    padding: 0 15px;
    font-size: 1.4rem;
    text-shadow: 2px 1px 5px rgba(0,0,0,0.46);
}

#header_top .special_text_box ul li::after {
    content: "\007C";
    position: absolute;
    padding-left: 10px;
}

#header_top .special_text_box ul li:last-child::after {
    content: "";
}














/* ================= Navbar Design || Start =================== */

nav {
    width: 60px;
    transition: .5s;
    overflow: hidden;
}

nav.active {
    width: 250px;
}

/* nav:hover {
    width: 300px;
} */

nav ul {
    position: absolute;
    width: 100%;
    padding: 0;
}

nav ul li {
    padding-left: 15%;
    list-style: none;
    width: 100%;
    position: relative;
    padding-right: 15%;
}

nav ul li a:hover {
    color: #41444b;
}

nav ul li:hover a::before {
    background-color: #fddb3a;
    width: 100%;
}

nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    transition: .2s;
}

nav ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: .2s;
}

nav ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}

nav ul li a .title {
    position: relative;
    font-size: 12px;
}

nav ul li a .icon * {
    font-size: 1.1em;
}

nav ul li a.toggle {
    border-bottom: 3px solid #41444b;
    ;
}

.toggle {
    cursor: pointer;
}

header {
    display: none;
}

@media (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        background: #41444b;
        color: #ddd;
    }

    header a {
        color: #41444b;
    }

    nav {
        left: -60px;
    }

    nav.active {
        left: 0;
        width: 100%;
    }

    nav ul li a.toggle {
        display: none;
    }
}

/* ================= Navbar Design || End =================== */



/* ================== Industry Box || Stat ===================== */
.industry_26_css {
    margin: 2rem 0;
    padding-right: 25px;
    padding-top: 15px;
}

.text-justify {
    text-align: justify;
}

.industry_26_css_top {
    border-left: 5px solid #fdba13;
    padding-left: 40px;
    margin-bottom: 10px;
}

.industry_26_css_top h3.in_sub_title {
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: #6c6c6c;
}

.industry_26_css_top h4.in_sub_title {
    margin-top: 0;
}

.industry_26_css_top .in_title {
    font-size: 25px;
    padding-top: 20px;
    padding-right: 5px;
    color: #6c6c6c;
}

.industry_26_css_bottom {
    position: relative;
    border-left: 1px solid #fdba13;
    padding-left: 40px;
}

.industry_26_css_bottom img {
    width: 50px;
    position: absolute;
    left: -25px;
    top: 40%;
    background-color: #D8DBE1;
    border: 1px solid #484a7d;
    border-radius: 50%;
    padding: 8px;
}

.industry_26_css_bottom ul.padding_l1 {
    padding-left: 1rem !important;
}

.industry_26_css_bottom ul.padding_l1 li {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6rem;
    letter-spacing: 1px;
}

/* ================== Industry Box || End ===================== */

.focus_tilte_with_line {
    font-size: 40px;
    color: #484a7d;
    position: relative;
    margin-bottom: 2rem;
}

.focus_tilte_with_line::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 30%;
    background-color: #fdba13;
    bottom: -10px;
    left: 35%;
    right: 35%;
}

#industry_name {
    font-size: 1.2rem;
    font-weight: 600;
    /* text-align: center;
    display: inline-block;
    width: 250px; */
}

.animate_fadeInUp {
    animation: fadeInUp 2s;
}

.animate_fadeOutUp {
    animation: fadeOutUp 2s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}


.rotate_box {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: -10px;
}

.rotate_box div hr {
    margin: 0.15rem 0;
}

.rotate_box div {
    text-align: center;
    transform: rotate(-90deg);
    width: 100%;
    min-width: 400px;
}

.rotate_box div h6 {
    font-size: 16px;
    opacity: 50%;
}

.rotate_box div h5 {
    font-size: 20px;
    opacity: 70%;
}

.rotate_box div h4 {
    font-size: 30px;
    position: relative;
}

.rotate_box div h4::after {
    position: absolute;
    content: "";
    background-color: #000;
    width: 100%;
}



.rotate_box div h6,
.rotate_box div h5,
.rotate_box div h4 {
    padding: 5px 0;
    margin: 0;
    width: 100%;
    position: relative;
}

/* .rotate_box div h6::after, */
/* .rotate_box div h5::after,
.rotate_box div h4::after{
    position: absolute;
    content: "";
    background-color: #00000085;
    width: 100%;
    height: 1px;
    top: -25%;
    left: 0;
} */



/* FAQ Section CSS || Start */
#accordionFlushFAQ .accordion-button::after,
#RigthAccordionFlushFAQ .accordion-button::after,
#accordionFlushFAQ .accordion-button:not(.collapsed)::after,
#RigthAccordionFlushFAQ .accordion-button:not(.collapsed)::after {
    scale: 100%;
    filter: invert(0);
    background-image: none;
    width: unset;
    height: unset;
    font-size: 16px;
}

#accordionFlushFAQ .accordion-button::after,
#RigthAccordionFlushFAQ .accordion-button::after {
    content: "\002B";

}

#accordionFlushFAQ .accordion-button:not(.collapsed)::after,
#RigthAccordionFlushFAQ .accordion-button:not(.collapsed)::after {
    content: "\2212";
}

#accordionFlushFAQ .accordion-body,
#RigthAccordionFlushFAQ .accordion-body {
    padding: 12px;
    font-size: 14px;
    border: none;
    background: #00000005;
}

#accordionFlushFAQ .accordion-button:not(.collapsed),
#RigthAccordionFlushFAQ .accordion-button:not(.collapsed) {
    color: unset;
    background-color: #e9e9e9;
    box-shadow: none;
}

/* FAQ Section CSS || End */




/* Working Process Section CSS || Start */

#working_process{
    padding: 5rem 0;
    position: relative;
    /* background-color: #5a80a0; */
    background-color: #213d54;
}
/* #working_process .content_box{
    background-color: #fff;
} */

/* #working_process::before{
    position: absolute;
    content: "";
    background-color: #213d54;
    height: 50%;
    top: 0;
    left: 0;
    width: 100%;
} */

#working_process .row .content_box {
    height: 240px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

#working_process .row .content_box img{
    width: 180px;
    filter: grayscale(1);
    transition: .5s ease-in;
}
#working_process .row .content_box:hover img{
    filter: grayscale(0);
    transform: scale(103%);
    transition: .5s ease-in;
}

#working_process .row .content_box h4{
    font-size: 16px;
    font-weight: 400;
    padding-top: 1rem;
}
.default_article h2 {
    font-size: 1.6rem;
}

.default_article h3 {
    font-size: 1.4rem;
}

.default_article h4 {
    font-size: 1.2rem;
}

/* Working Process Section CSS || End */