@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

h6,
p{
    font-size: 14px;
    font-weight: 500;
    color: #707070;
}

.screenshot{
    border: 1px solid #ddd;
    border-radius: 5px;
}
